name: Bump Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The SemVer type of the release (major / minor / patch)"
        required: true
        type: choice
        options: 
        - major
        - minor
        - patch

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git checkout -b bump_version

    - name: Bump version
      run: |
        echo "BUMPED_VERSION=$(npm version ${{ github.event.inputs.version }})" | tee -a $GITHUB_ENV

    - name: Git push branch
      run: |
        git push origin bump_version

    - name: Create PR
      uses: actions/github-script@v6
      with:
          script: |
            github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: "Bump version to ${{ env.BUMPED_VERSION }}",
              head: "bump_version",
              base: "main",
              body: "This PR bumps the version to ${{ env.BUMPED_VERSION }}, as requested by @${{ github.actor }} in https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}."
            })